aside{
    float: left;
    background-color: rgb(119, 116, 116);
    text-align: center;
    width: 120px;
    height: 310px;
    margin-top: 1px;
    word-break: keep-all;
}
h3.nav{
    margin-top: 140px;
}